<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>566243481790-ula63hit2lmuk9s27oc1v9rpjmmpsnuf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.566243481790-ula63hit2lmuk9s27oc1v9rpjmmpsnuf</string>
	<key>API_KEY</key>
	<string>AIzaSyCa736WMRLJlrlEetEHSCZwcv16_ZDV0G0</string>
	<key>GCM_SENDER_ID</key>
	<string>566243481790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.aybarsacar.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-f2209</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-f2209.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566243481790:ios:e6f674f2938c9c29d526ef</string>
</dict>
</plist>